/* Подключение Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Импорт Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&family=Anta&display=swap');

/* Базовые стили */
body {
  margin: 0;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6, p, span, div {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.font-anta {
  font-family: 'Anta', sans-serif;
}
